
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
.specs
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
docker-compose.yml
docker-compose.*.yml
/Envoy.blade.php
/.claude/settings.local.json
/.mp4
/.mp3
